  
  /* On mouse-over, add a deeper shadow */
  .cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */

.cards {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
  }
  .container {
    border: solid black 3px;
  }
  .cards p {
    color: lightblue;
    background-color: darkslategrey;
    font-size: 20px;
    
  }
  .cards h4 {
    color: lightblue;
    background-color: darkslategrey;
    font-size: 25px;
  }


  
